body{
    background-color: tan;
}

h1 {
    color: brown;
    font-size: 25px;
}

h2 {
    color: gray;
    font-size: 20px;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.center-text {
    text-align: center;
}

header p {
    font-weight: bold;
    font-style: italic;
    color: blue;
}

.body-img {
    border: black solid 2px;
    display: inline-block;
    margin: 8px;
}

.center-img {
    border: black solid 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }  

main {
    background-color: lightgray;
}

.red-heading{
    color: red;
}

.blue-text{
    color: blue;
}

#new-font{
    font-family: fantasy, cursive, serif;
}

footer {
    background-color: lavender;
    border: black solid thin;
    font-weight: bold;
    padding-left: 5px;
    text-align: center;
}

nav {        
    background-color: aliceblue;
    border: 0.5px green solid;
    padding: 5px;
    margin: -1px 0px 0px 0px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}

figure.left {
    float: left;
}

.btn-left-pad {
    padding-left: 25px;                   
}

.btn-right-pad {
padding-right: 25px;
}

.btn-top-bottom-pad {
padding-top: 25px;
padding-bottom: 25px;
}

.btn-padding-verbose {
padding-left: 25px;
padding-right: 25px;
padding-top: 25px;
padding-bottom: 25px;
}

.btn-padding-concise {
padding: 25px;
}

.btn-padding {
    padding: 25px;
    border: 10px green double;    
    border-radius: 22px;
}

.btn-padding:hover {
    background-color: forestgreen;
    border-color: white;
    color: white;
}                   
        
.btn-padding:active {
    background-color: red;
}

.btn-margin-padding {
    margin: 5px;
    display: inline-block;
    border: thin;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px darkred double;
}          

.btn-margin-padding:hover {
    background-color: red;
    color: white;
}

#button-wrapper {
    display: inline-block;
    border: thin black solid;
}

aside {        
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;        
}